@font-face {
	
	font-family: "Raleway";
	
	src: url('../fonts/Raleway.ttf') format('truetype');
	
	font-weight: normal;
	font-style: normal;

}

html, body{

	background-color: #ECECEC;

	width: 100%;
	height: 100%;

	min-width: 800px;

	margin: 0;
	padding: 0;

	font-family: 'Helvetica';
	font-size: 12px;

}

a{

	text-decoration: none;

}

.container{

	min-height: 100%;

	position: relative;

}

	.container header{

		background-color: #FFFFFF;

		width: calc(100% - 100px);
		height: 80px;

		margin-left: 100px;

		line-height: 80px;

		border-bottom: 2px solid #D5D5D5;

	}

		.container header i.icon{

			margin: 0 30px;

			line-height: 80px;

			color: #8bc34a;
			font-size: 40px;

			float: left;

		}

		.container header .userName{

			position: absolute;

			font-family: 'Raleway';
			font-size: 25px;

			display: inline;

			float: left;

		}

			.container header .userName .surname{

				color: #A1A1A1;

				display: inline;

			}

			.container header .userName .name{

				color: #434343;

				display: inline;

			}

		.container header a i.logoutButton{

			margin: 0 30px;

			line-height: 80px;

			font-size: 40px;
			color: #434343;

			display: inline;

			float: right;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

			.container header a i.logoutButton:hover{

				color: #767676;

				-webkit-transition: all 0.1s linear;
						transition: all 0.1s linear;

			}

	.container aside{

		background-color: #2F2F2F;

		height: 100%;
		width: 100px;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;

	}

		.container aside .topZone{

			position: relative;

			padding-top: 20px;

			background-color: #3F3F3F;

			width: 100%;

		}

			.container aside .topZone .circle{

				width: 60px;
				height: 60px;

				position: relative;

				border-radius: 30px;

				line-height: 60px;
				text-align: center;
				font-family: 'Raleway';
				font-size: 35px;
				color: #FFFFFF;

				margin-bottom: calc(50% - 30px);
				margin-right: calc(50% - 30px);
				margin-left: calc(50% - 30px);

			}

			.container aside .topZone .circle .circle_edit{

				background-color: #5A5A5A;

				position: absolute;
				top: 43px;
				left: 0px;

				line-height: 18px;
				font-size: 10px;

				width: 18px;
				height: 18px;

				border-radius: 18px;
				border: 2px solid #3F3F3F;

				display: none;

			}

				.container aside .topZone .circle .circle_edit i{

					color: #FFFFFF;

				}

				.container aside .topZone .circle:hover .circle_edit{

					display: block;

				}

				.container aside .topZone .circle .circle_edit:hover{

					background-color: #666666;

				}

			.container aside .topZone .logout{

				background-color: #2F2F2F;

				width: 100%;
				height: auto;

				padding: 5px 0;

				text-align: center;

				border-top: 1px solid #292929;

			}

				.container aside .topZone .logout a{

					color: #5A5A5A;
					font-size: 15px;

					text-shadow: 0 1px 0 rgba(0,0,0, .4);

					-webkit-transition: all 0.1s linear;
							transition: all 0.1s linear;

				}

					.container aside .topZone .logout a:hover{

						color: #737373;

						-webkit-transition: all 0.1s linear;
								transition: all 0.1s linear;

					}

			.container aside .topZone .mediumBar{

				background-color: #3F3F3F;

				width: 100%;
				height: 10px;

				border-top: 1px solid #4D4D4D;
				border-bottom: 1px solid #292929;

			}

		.container aside .menu{

			width: 100%;
			height: auto;

		}

			.container aside .menu .boton{

				width: 100px;
				height: 75px;

				text-align: center;

			}

				.container aside .menu .boton a{

					color: #3F3F3F;

					line-height: 75px;
					font-size: 40px;

					text-shadow: 0 1px 0 rgba(0,0,0, .2);

					-webkit-transition: all 0.1s linear;
							transition: all 0.1s linear;

				}

					.container aside .menu .boton a:hover{

						color: #5A5A5A;

						-webkit-transition: all 0.1s linear;
								transition: all 0.1s linear;

					}

				.container aside .menu .boton.seleccionado{

					border-left: 3px solid #8bc34a;

				}

					.container aside .menu .boton.seleccionado a{

						color: #FFFFFF;

						margin-right: 5px;

					}

	.container .contenido{

		width: calc(100% - 100px);

		margin-left: 100px;

	}

		.container .contenido .box{

			background-color: #FFFFFF;

			width: calc(100% - 60px);
			height: auto;

			margin: 30px;
			padding: 20px;

			border-bottom: 2px solid #D5D5D5;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

		.container .contenido .copyright{

			text-align: center;

			margin-top: -10px;

			color: rgba(0,0,0, .4);

		}

.sectionTitle{

	font-family: 'Raleway';
	font-size: 20px;
	color: rgba(0,0,0, .4);

	margin-bottom: 20px;

}

/* SECCIÓN ACERCA DE */

	.about_logo{

		background-image: url('../img/logo_login.png');

		width: 600px;
		height: 156px;

	}

	.about_title{

		font-family: 'Raleway';
		font-size: 40px;
		color: rgba(0,0,0, .8);

	}

	.about_subtitle{

		font-family: 'Raleway';
		font-size: 20px;
		color: rgba(0,0,0, .5);

	}

	.about_developer{

		font-family: 'Raleway';
		font-size: 15px;
		color: rgba(0,0,0, .7);

		margin-top: 30px;

	}

	.about_socialNetworks{

		margin: 20px 0 10px 0;

	}

	.about_socialButton{

		font-size: 40px;
		color: rgba(0,0,0, .8);

		margin: 0 5px;

		-webkit-transition: all 0.1s linear;
				transition: all 0.1s linear;

	}

		.about_socialButton:hover{

			color: rgba(0,0,0, .6);

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

/* SECCIÓN DE PREFERENCIAS */

	.preferences_button{

		width: calc(20% - 3px);

		margin: 0;

		text-align: center;

		display: inline-block;

		-webkit-box-sizing: border-box;
		-moz-box-sizing   : border-box;
		box-sizing        : border-box;

	}

		.preferences_button a i{

			color: rgba(0,0,0, .2);
			font-size: 100px;

			display: block;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.preferences_button a span{

			color: rgba(0,0,0, .4);
			font-size: 14px;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.preferences_button.green a:hover i, .preferences_button.green a:hover span{

			color: #8bc34a;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.preferences_button.blue a:hover i, .preferences_button.blue a:hover span{

			color: #607d8b;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.preferences_button.orange a:hover i, .preferences_button.orange a:hover span{

			color: #ff9800;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.preferences_button.brown a:hover i, .preferences_button.brown a:hover span{

			color: #795548;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

.preferences_color_button{

	width: 100%;
	height: 100px;

	margin: 20px 0;

	font-family: 'Raleway';
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
	line-height: 100px;

	-webkit-transition: all 0.1s linear;
			transition: all 0.1s linear;

}

	.preferences_color_button.red{

		background-color: #f44336;

		border-top   : 1px solid #C3352B;
		border-left  : 1px solid #C3352B;
		border-right : 1px solid #C3352B;
		border-bottom: 2px solid #C3352B;

		text-shadow: 0 2px 0 #C3352B;

	}

		.preferences_color_button.red:hover{

			background-color: #F65A4F;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.pink{

		background-color: #e91e63;

		border-top   : 1px solid #B6184C;
		border-left  : 1px solid #B6184C;
		border-right : 1px solid #B6184C;
		border-bottom: 2px solid #B6184C;

		text-shadow: 0 2px 0 #B6184C;

	}

		.preferences_color_button.pink:hover{

			background-color: #E94D81;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.purple{

		background-color: #9c27b0;

		border-top   : 1px solid #6F1C7D;
		border-left  : 1px solid #6F1C7D;
		border-right : 1px solid #6F1C7D;
		border-bottom: 2px solid #6F1C7D;

		text-shadow: 0 2px 0 #6F1C7D;

	}

		.preferences_color_button.purple:hover{

			background-color: #9F39B1;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.blue{

		background-color: #3f51b5;

		border-top   : 1px solid #2E3A83;
		border-left  : 1px solid #2E3A83;
		border-right : 1px solid #2E3A83;
		border-bottom: 2px solid #2E3A83;

		text-shadow: 0 2px 0 #2E3A83;

	}

		.preferences_color_button.blue:hover{

			background-color: #5261B6;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.teal{

		background-color: #009688;

		border-top   : 1px solid #00645A;
		border-left  : 1px solid #00645A;
		border-right : 1px solid #00645A;
		border-bottom: 2px solid #00645A;

		text-shadow: 0 2px 0 #00645A;

	}

		.preferences_color_button.teal:hover{

			background-color: #2D978C;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.green{

		background-color: #8bc34a;

		border-top   : 1px solid #668F36;
		border-left  : 1px solid #668F36;
		border-right : 1px solid #668F36;
		border-bottom: 2px solid #668F36;

		text-shadow: 0 2px 0 #668F36;

	}

		.preferences_color_button.green:hover{

			background-color: #93C35D;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.orange{

		background-color: #ff9800;

		border-top   : 1px solid #CD7B00;
		border-left  : 1px solid #CD7B00;
		border-right : 1px solid #CD7B00;
		border-bottom: 2px solid #CD7B00;

		text-shadow: 0 2px 0 #CD7B00;

	}

		.preferences_color_button.orange:hover{

			background-color: #FFA41A;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.brown{

		background-color: #795548;

		border-top   : 1px solid #453129;
		border-left  : 1px solid #453129;
		border-right : 1px solid #453129;
		border-bottom: 2px solid #453129;

		text-shadow: 0 2px 0 #453129;

	}

		.preferences_color_button.brown:hover{

			background-color: #785E54;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

	.preferences_color_button.bluegrey{

		background-color: #607d8b;

		border-top   : 1px solid #3E505A;
		border-left  : 1px solid #3E505A;
		border-right : 1px solid #3E505A;
		border-bottom: 2px solid #3E505A;

		text-shadow: 0 2px 0 #3E505A;

	}

		.preferences_color_button.bluegrey:hover{

			background-color: #6F838D;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

/* MENSAJES PRIVADOS */

	.messages_no{

		font-size: 150px;
		color: rgba(0,0,0, .3);

	}

	.messages_no_text{

		font-family: 'Raleway';
		font-size: 30px;
		font-weight: bold;
		color: rgba(0,0,0, .3);

	}

	.private_message{

		background-color: #CECECE;

		position: relative;

		width: calc(100% + 40px);
		height: 80px;

		margin: 10px 0 10px -20px;

		border-top: 1px solid #B6B6B6;
		border-bottom: 1px solid #B6B6B6;

		-webkit-box-sizing: border-box;
		-moz-box-sizing   : border-box;
		box-sizing        : border-box;

		-webkit-transition: all 0.1s linear;
				transition: all 0.1s linear;

	}
		.private_message.large{

			background-color: #FFFFFF;
			height: auto;

			border: none;

		}

		.private_message:hover{

			background-color: #DCDCDC;

			-webkit-transition: all 0.1s linear;
					transition: all 0.1s linear;

		}

		.private_message.no_leido{

			background-color: #BDD2A8;

			border-top: 1px solid #A6B893;
			border-bottom: 1px solid #A6B893;

		}

			.private_message.no_leido:hover{

				background-color: #C8DFB2;

				-webkit-transition: all 0.1s linear;
						transition: all 0.1s linear;

			}

		.private_message .emisor{

			width: 80px;
			height: 80px;

			position: relative;

			float: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

			.private_message .emisor .circle{

				width: 60px;
				height: 60px;

				position: absolute;
				top: 10px;
				left: 10px;

				border-radius: 30px;

				line-height: 60px;
				text-align: center;
				font-family: 'Raleway';
				font-size: 35px;
				color: #FFFFFF;

			}

		.private_message .message_content{

			width: calc(100% - 80px);
			height: 80px;

			float: left;

			padding: 10px;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

			.private_message .message_content .message_title{

				font-family: 'Raleway';
				font-size: 16px;
				font-weight: bold;
				color: rgba(0,0,0, .8);

			}

			.private_message .message_content .message_text{

				color: rgba(0,0,0, .6);

			}

			.private_message .message_content .message_options{

				color: rgba(0,0,0, .3);

				margin-top: 5px;

			}

				.private_message .message_content .message_options .message_sender{

					float: left;

				}

				.private_message .message_content .message_options .message_time{

					float: right;

				}

/* MENSAJE PRIVADO */

.message_view{

	width: 100%;

}

	.message_view .data{

		background-color: #F5F5F5;

		width: calc(100% + 30px);
		height: 60px;

		margin: 0 0 20px -20px;

		padding-left: 10px;

	}

		.message_view .data .emisor{

			width: 60px;
			height: 60px;

			position: relative;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

			float: left;

		}

			.message_view .data .emisor .circle{

				width: 40px;
				height: 40px;

				position: absolute;
				top: 10px;
				left: 10px;

				border-radius: 30px;

				line-height: 40px;
				text-align: center;
				font-family: 'Raleway';
				font-size: 25px;
				color: #FFFFFF;

			}

		.message_view .data .nombreEmisor{

			width: calc(100% - 60px);
			height: 60px;

			line-height: 60px;
			font-family: 'Raleway';
			font-size: 20px;
			color: rgba(0,0,0, .6);

			float: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

	.message_view .message_contenido{

		width: 100%;
		height: auto;

		text-align: justify;

	}

	.message_view .message_sended{

		width: 100%;
		height: auto;

		color: rgba(0,0,0, .4);

		margin-top: 20px;

	}

/* SISTEMA DE ARCHIVOS */

	.folders_file{

		background-color: #F5F5F5;

		width: calc(100% + 40px);
		height: 50px;

		margin-left: -20px;

		line-height: 50px;

		border-bottom: 1px solid #DCDCDC;

	}

		.folders_file:first-child{

			border-top: 1px solid #DCDCDC;

		}

		.folders_file .icono{

			width: 50px;
			height: 50px;

			float: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

			.folders_file .icono .file-icon{

				margin: 9px 0 9px 13px;

			}

		.folders_file .nombre{

			width: calc(100% - 50px - 250px);

			color: rgba(0,0,0, .6);

			float: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

			.folders_file .nombre.file{

				font-weight: normal;

			}

			.folders_file .nombre.dir{

				font-weight: bold;

			}

		.folders_file .opciones{

			width: 250px;

			text-align: right;

			padding: 0 15px;

			float: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing   : border-box;
			box-sizing        : border-box;

		}

			.folders_file .opciones .size{

				display: inline;

				color: rgba(0,0,0, .4);

				margin-right: 10px;

			}